@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.res{
    display: block;
}
.ures{
    justify-content: space-between;
    margin-left: 640px;
    width: 500%;
}
nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50%;
}
.logo span{
    font-size: 18px;
    color: yellow;
}
.header_btn{
    width: 40%;
    justify-content: center;
}
.header_btn ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.home{
    display: flex;
    background-color: black;
    color: white;
}
.home-text{
    width: 60%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-text img{
    border: 2px solid white;
    width: 15%;
}
.home-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-img img{
    border: 1px solid white;
    /* width: 80%; */
     /* height: 80%;  */
}
.home h2{
    font-size: 45px;
    font-weight: 350;
}
.home h5{
    padding: 40px 0px;
    font-size: 25px;
    font-weight: 350;
    color: rgb(134, 131, 128);
}
.home p{
    font-size: 18px;
    font-weight: 350;
    color: rgb(134, 131, 128);
    margin-top: -85px;
}
.home button{
    margin-top: 20px;
    font-size: 18px;
    color: black;
    padding: 10px 20px;
}
.home h3{
    padding: 20px 0px;
    font-size: 40px;
    font-weight: 350;
}

@media(max-width: 768px){
    .header_btn{
        display: none;
        background-color: blue;
        flex-direction: column;
    }
}